page-home {


    #Background{
        background-image: url("../../assets/imgs/6ccaa14184aab92ce12151bde099f00a.gif");
        background-size: cover;
    }

    #bg{
        margin-top: 20%;
    }

    
    marquee{
    color:white;
    font-family: Comic Sans MS;
    font-size: 24px;
    }

    ion-icon{
        color:cornflowerblue;
        font-size:150px;
    }

    ion-title{
        color:cornflowerblue;
    }


    .item{
        background-color: rgba(0, 0, 0, 0);
    }

    
    #btn{
        border: solid 2px white;
        color:white;
    }

    ion-label{
        color:white;
    }

    ion-input{
        color:white;
    }

    
}
