page-second {

    #FUTURE{
        color:cornflowerblue;
    }

    #card{
        border: solid 3px cornflowerblue;
    }

    ion-icon{
        color:cornflowerblue;
        font-size: 230%;
    }

   

   .box{
       
       border:solid 1px cornflowerblue;

   }

   p{
       color :cornflowerblue ;
       font-size: 15px;
   }

    

}
